@model Azure_First.Web.Models.EditProfileViewModel
@{
    ViewBag.Title = "EditUserProfile";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2 class="page-header">EditUserProfile</h2>
<div class="container">
    <div class="row" style="width:900px;">
        <form id="edit-profile-form" novalidate action="@Url.Action("EditUserProfile","Dashboard")" method="post">
            <div class="form-inline">

                @Html.ValidationSummary();

                @Html.HiddenFor(p=>p.MemberName)
                <div class="form-group">
                    @Html.LabelFor(p => p.Birthdate)
                    <div class="input-group date">
                        @Html.TextBoxFor(p => p.Birthdate, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(p => p.Gender)
                    @Html.TextBoxFor(p => p.Gender, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(p => p.Orientation)
                    @Html.TextBoxFor(p => p.Orientation, new { @class = "form-control" })
                </div>
            </div>

            <div>
                @Html.LabelFor(p => p.LookingFor)
                @Html.TextAreaFor(p => p.LookingFor, new { @class = "form-control", rows = 2 })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Introduction)
                @Html.TextAreaFor(p => p.Introduction, new { @class = "form-control", rows = 6 })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Pitch)
                @Html.TextAreaFor(p => p.Pitch, new { @class = "form-control", rows = 2 })
            </div>

            <a href="@Url.Action("EditPhotos", "Member")" class="btn btn-primary">Edit Photos</a>
            <a href="@Url.Action("UserProfile", "Dashboard" , new { name = Model.MemberName , isMember= true })" class="btn btn-default">Cancel</a>
            <input type="submit" class="btn btn-success" value="Save" />
        </form>
    </div>
</div>
@section scripts{
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/module/edit-user-profile.js"></script>
}
